{% load staticfiles %}
<html>
    <head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<title>Blog Pauliny</title>
		
		<style>
		h1 a {
    color: #165E75;
	font-family: 'Lobster';
}
body {
	color: #755EF2;
	padding-left: 30px;
	font-family: "Lora"
	
	}
	</style>
    </head>
    
	<body>
        <div>
            <h1><a href="">Blog Pauliny</a></h1>
        </div>
<div>
     {% for post in posts %}
	 <div>
	 <p> published: {{ post.published_date}}</p>
	 <h1> <a href="">{{post.title}}</a></h1>
	 <p>{{ post.text|linebreaks}}</p>
	 </div>
    {% endfor %}
        </div>
    </body>
</html>