<html>
    <head>
        <title>Blog Pauliny</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Pauliny</a></h1>
        </div>

        <div>
            <p>Opublikowany: 27.02.2016, 14:28</p>
            <h2><a href="">Mój pierwszy post</a></h2>
            <p>Philosophia magistra vitae est.</p>
        </div>

        <div>
            <p>Opublikowany: 27.02.2016, 14:30</p>
            <h2><a href="">Mój drugi post</a></h2>
            <p>Fajnie jest na Django.</p>
        </div>
    </body>
</html>